---
import '@src/main.css';
import { Image } from 'astro:assets';
import {
  ArrowLeft,
  ArrowRight,
  Ellipsis,
  Grid2X2Plus,
  Joystick,
  Link2,
  Maximize,
  MoonStar,
  RotateCw,
  Search,
  Settings,
  SquareChevronRight,
  Star,
  X,
} from 'lucide-astro';
---

<!doctype html>
<html lang="en" class="h-screen overflow-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-DQZPCVEF89"></script>
    <script is:inline>
      try {
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          window.dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-DQZPCVEF89');
        console.log("[DEBUG] Google Analytics loaded successfully");
      } catch (error) {
        console.error('[DEBUG] Google Analytics failed to load:', error);
      }
      </script>     
    <script src="@src/utils/cloak.ts"></script>
    <script src="@src/utils/home.ts"></script>
    <script is:inline src="/assets/packaged/v/cnfg.js" defer></script>
    <script is:inline src="/assets/packaged/v/b.js" defer></script>
    <script is:inline src="/assets/packaged/scram/controller.js"></script>
    <link rel="prefetch" href="/assets/packaged/scram/worker.js" />
    <link rel="prefetch" href="/assets/packaged/scram/shared.js" />
    <script src="@src/utils/main.ts"></script>
    <script src="@src/utils/search.ts"></script>
  </head>

  <body class="relative h-screen">
    <div
    class="absolute border-r-[3px] border-black border-solid bg-background-overlay left-0 h-screen w-[52px] z-50 flex flex-col items-center"
  >
    <a href="./" aria-label="Go Home" id="moonStar" class="mt-4">
      <MoonStar
        class="text-[#a5adce] hover:text-blue-400 w-8 h-8 transition duration-150 transform hover:scale-110"
      />
    </a>
    <hr class="w-8 border-t-[2px] border-[#a5adce] my-4" />
    <div
      class="grow flex flex-col items-center justify-center space-y-4 -mt-8"
    >
      <div id="gam">
        <Joystick
          class="text-[#a5adce] hover:text-white w-[32px] h-[32px] transition duration-150 transform hover:scale-110"
        />
      </div>
      <div id="ap">
        <Grid2X2Plus
          class="text-[#a5adce] hover:text-white w-[28px] h-[28px] transition duration-150 transform hover:scale-110"
        />
      </div>
      <div id="gear">
        <Settings
          class="text-[#a5adce] hover:text-white w-[28px] h-[28px] transition duration-150 transform hover:scale-110"
        />
      </div>
    </div>
  </div>
  
    <div
      class="border-b-[3px] pt-4 border-black border-solid flex justify-between items-center bg-background-overlay p-2 space-x-4 ml-[52px]"
    >
      <div class="flex space-x-4">
        <button
          aria-label="Go Foward"
          id="forward"
          class="relative group w-8 h-8 flex items-center justify-center"
        >
          <ArrowLeft
            class="text-[#a5adce] group-hover:text-white w-[22px] h-[22px] z-10 transition-transform duration-200 ease-in-out"
          />
          <div
            class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
          >
          </div>
        </button>

        <button
          title="Back"
          aria-label="Go Back"
          id="back"
          class="relative group w-8 h-8 flex items-center justify-center"
        >
          <ArrowRight
            alt="back"
            class="text-[#a5adce] group-hover:text-white w-[22px] h-[22px] z-10 transition-transform duration-200 ease-in-out"
          />
          <div
            class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
          >
          </div>
        </button>
        <button
          title="Refresh"
          id="reload"
          aria-label="Reload the Tab"
          class="relative group w-8 h-8 flex items-center justify-center"
        >
          <RotateCw
            alt="refresh"
            class="text-[#a5adce] group-hover:animate-spin group-hover:text-white w-[22px] h-[22px] z-10 transition-transform duration-200 ease-in-out"
          />
          <div
            class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
          >
          </div>
        </button>
      </div>
      <form method="post" class="grow mx-4 relative" id="form">
        <div class="relative flex items-center">
          <input
            autocomplete="off"
            id="input"
            autofocus="true"
            type="text"
            placeholder="Search or enter an URL..."
            class="transition font-fit font-medium pl-14 pr-12 py-2 w-full rounded-full border border-[#a5adce] text-text-SECONDARY focus:outline-hidden focus:ring-2 bg-[#181824] focus:ring-[#a5adce]"
          />
          <Image
            src="/assets/images/engines/ddg.png"
            alt="Search Engine"
            width={25}
            id="favicon"
            loading="eager"
            height={26}
            class="rounded-full absolute left-3 top-1/2 transform -translate-y-1/2"
          />
          <X
          id="clear"
          class="absolute right-[5px] text-[#a5adce] w-[22px] h-[22px] cursor-pointer hover:text-red-400 transition-opacity duration-200 hidden"
        />
        <button
          type="button"
          id="link"
          class="absolute right-[5px] transition-all duration-200 group w-8 h-8 flex items-center justify-center"
        >
          <Link2
            class="text-[#a5adce] group-hover:text-white w-[22px] h-[22px] z-10 transition-transform duration-200 ease-in-out"
          />
        </button>        
          </button>
        </div>
      </form>      
      <button
        id="fav"
        class="relative group w-8 h-8 flex items-center justify-center"
      >
        <Star
          class="text-[#a5adce] group-hover:text-yellow-400 w-[22px] h-[22px] z-10 transition-transform duration-200 ease-in-out"
        />
        <div
          class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
        >
        </div>
      </button>
      <button
        id="console"
        class="relative group w-8 h-8 flex items-center justify-center"
      >
        <SquareChevronRight
          class="text-[#a5adce] group-hover:text-white w-[22px] h-[22px] z-10 transition-transform duration-200 ease-in-out"
        />
        <div
          class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
        >
        </div>
      </button>
      <button
        id="full-screen"
        class="relative group w-8 h-8 flex items-center justify-center"
      >
        <Maximize
          class="text-[#a5adce] group-hover:text-white w-[22px] h-[22px] z-10 transition-transform duration-200 ease-in-out"
        />
        <div
          class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
        >
        </div>
      </button>
    </div>
    <div
    id="starting"
    class="inset-x-0 mt-[14rem] flex flex-col items-center justify-start p-4 z-30"
  >
    <strong class="text-8xl font-linux mb-6 text-text-HEADER font-bold">Lunar</strong>
    <form method="post" id="startForm" class="w-full flex justify-center">
      <div class="mt-12 relative w-full max-w-[25rem] z-40">
        <div class="relative">
          <button
            type="button"
            id="searchBtn"
            class="absolute left-4 top-[24%] text-text-SECONDARY w-5 h-5"
          >
            <Search class="text-[#a5adce] hover:text-white transition-transform duration-200 ease-in-out" />
          </button>
          <input
            type="text"
            id="startSearch"
            autocomplete="off"
            class="pl-10 pr-12 font-fit font-medium h-12 text-center w-full bg-background-overlay text-text-SECONDARY p-3 rounded-full border border-[#a5adce] cursor-pointer"
            placeholder="Search or enter an URL..."
          />
          <X
            id="sclear"
            class="hidden absolute right-4 top-1/2 transform -translate-y-1/2 text-[#a5adce] w-6 h-6 cursor-pointer hover:text-red-400 transition-opacity duration-200"
          />
        </div>
      </div>
    </form>   
    <p
      id="quote"
      class="font-semibold mt-8 text-base text-text-SECONDARY text-center"
    >
      Loading quote...
    </p>   
  </div>  
    <div
      id="loading"
      class="hidden mt-80 absolute inset-0 flex-col items-center justify-center p-4"
    >
      <div class="flex justify-center items-center space-x-4 mb-6">
        <Ellipsis class="w-24 h-24 text-text-HEADER animate-bounce delay-150" />
      </div>
      <h1 class="text-center text-4xl font-bold mt-10 text-text-HEADER">
        <strong>Please wait while Lunar loads your content...</strong>
      </h1>
    </div>
    </div>
    <iframe
      id="frame"
      loading="lazy"
      title=""
      class="fixed z-10 top-[68px] left-[52px] h-[calc(100vh-60px)] w-[calc(100%-52px)]"
    ></iframe>
    <script src="@src/utils/browse.ts"></script>
  </body>
</html>